@using PagedList.Mvc
@model  PagedList.IPagedList<ApiTax.Entities.TicketDetail>

@{
    ViewBag.Title = "Index";
    int page1 = ViewBag.page_index;
    int index = (page1 - 1) * 15;
    int wid = ViewBag.wid;
}

<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon"><i :class="modelIcon"></i></span>
        <h3 class="kt-portlet__head-title">
            Ticket List
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            <div class="kt-portlet__head-actions">

                @Html.ActionLink("Create New", "Create", new { wid= wid }, new { @class = "btn btn-outline-success btn-elevate btn-icon-sm" })

            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            SellSerial
        </th>
        <th>
            Row
        </th>
        <th>
            TrackId
        </th>
        <th>
            FromStationName
        </th>
        <th>
            ExitDate
        </th>
        <th>
            ExitDay
        </th>
        <th>
            TrainNo
        </th>
        <th>
            ToStationName
        </th>
        <th>
            PassengerName
        </th>
        <th>
            WagonName
        </th>
        <th>
            ExitTime
        </th>
        <th>
            WagonNo
        </th>
        <th>
            SeatNo
        </th>
        <th>
            ArriveTime
        </th>
        <th>
            TicketPrice
        </th>
        <th>
            DiscountAmount
        </th>
        <th>
            Issuer
        </th>
        <th>
            StationServices
        </th>
        <th>
            TotalPrice
        </th>
        <th>
            CancelRequest
        </th>
        <th>
            IsCanceled
        </th>
        <th>
            CancelDate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellSerial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WagonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WagonNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issuer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationServices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<hr />

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        از @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
