@model ApiTax.Models.TourAgencyCost

@{
    ViewBag.Title = "اضافه کردن هزینه های سفر";
    long tour_id = ViewBag.tour_id;
    string error = ViewBag.ErrorMessage;
}

<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon"><i :class="modelIcon"></i></span>
        <h3 class="kt-portlet__head-title">
            اضافه کردن هزینه سفر
        </h3>
    </div>
</div>


@if (error.Length > 0)
{
    <div class="alert alert-danger">@error</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="TourId" name="TourId" value="@tour_id" type="hidden" />
    <div class="form-horizontal row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.AgencyId, "آژانس برگزار کننده", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.DropDownList("AgencyId", null, htmlAttributes: new { @class = "form-control" , @onchange="getDiscount(this)" })
                @Html.ValidationMessageFor(model => model.AgencyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.RoomTypeId, "نوع اتاق", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.DropDownList("RoomTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Price, "هزینه", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.UserDiscount, "تخفیف کاربر", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserDiscount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserDiscount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.AffiliateDiscount, "تخفیف فروشنده", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AffiliateDiscount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AffiliateDiscount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.FullDiscount, "جمع تخفیف ها", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullDiscount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullDiscount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PackageNumber, "ترتیب", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PackageNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PackageNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.CurrencyId, "نوع ارز خارجی", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.DropDownList("CurrencyId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.CurrencyPrice, "مبلغ ارزی سفر", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrencyPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrencyPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره هزینه سفر" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به سفر", "Edit", "Tours", new { id = tour_id, type = "cost" }, new { @class = "btn btn-outline-info" })
</div>

@section scripts{
    <script>
        function getDiscount(obj) {
                        $.ajax({
    type: 'POST',
    url: '@Url.Content("~/TourAgencyCosts/GetDiscount")',
    data: {
    id:$(obj).val()
    },
    success: function (msg) {
    var jss = msg;
    console.log(msg);
    var res=JSON.parse(jss);
    console.log(res);

    // console.log(jss);
    },
    error: function (error) {
    //Message
    console.error(error.responseText);
    }
    });
        }
    </script>
}
