@model ApiTax.Entities.RequestPassenger

@{
    ViewBag.Title = "Create";
    int wid = ViewBag.wid;
    string error = "";
    string code_melli = "";

    if (ViewBag.code != null)
    {
        code_melli = ViewBag.code;
    }

    if (ViewBag.ErrorMessage != null)
    {
        error = "کد ملی";
    }
}
<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon"><i :class="modelIcon"></i></span>
        <h3 class="kt-portlet__head-title">
            ثبت مسافر برای درخواست
        </h3>
    </div>
</div>
@if (error.Length > 0)
{
    <div class="alert alert-danger">کد ملی قبلا تعریف نشده است</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RequestPassenger</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input id="RailWayRequestID" name="RailWayRequestID" value="@wid" type="hidden" />
        <input id="PassengerID" name="PassengerID" value="" type="hidden" />

        <div class="form-group">
            <label>کد ملی مسافر</label><a target="_blank" href="~/Passengers/Create" style="padding:5px;color:red">تعریف مسافر</a>
            <div class="col-md-10">
                <input class="form-control" id="code_melli" name="code_melli" value="@code_melli" type="text" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceID, "ServiceID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { wid = wid })
</div>
