@model ApiTax.Entities.RWW

@{
    ViewBag.Title = "Create";
    int wid = ViewBag.wid;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RWW</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input id="WRailWayRequestID" name="WRailWayRequestID" value="@wid" type="hidden" />

    <div class="form-group">
        @Html.LabelFor(model => model.WSchedulingID, "WSchedulingID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WSchedulingID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WSchedulingID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WWagonTypeID, "WWagonTypeID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WWagonTypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WWagonTypeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WPriority, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WPriority, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WPriority, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { wid=wid})
</div>
